<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>Django Demo Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Demo Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">First Post</a></h2>
            <p>A few lines of the first blog from Laurem Ipsum.
                <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in tincidunt mi, nec ultrices justo. Phasellus ut dui ipsum. Integer dapibus libero sed ex lacinia, et fermentum enim congue. Nullam euismod faucibus dui, aliquam ullamcorper libero mattis non.</br>
            </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Second Post</a></h2>
            <br>Random text.
                <br>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</br></p>
        </div>
    </body>
</html>